# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env.local
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files
backend/data/storage/*
backend/data/test/*

# Logs
data/logs
*.log

# OS
.DS_Store
Thumbs.db

# Documents
# backend/data/docs/

# FRONTEND
frontend/node_modules/**

# Obsidian
docs/.obsidian/workspace.json
docs/.obsidian/workspace-mobile.json
docs/.obsidian/workspaces.json
docs/.obsidian/icons/
docs/.obsidian/plugins/
docs/.obsidian/cache