# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env.local
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files
backend/data/storage/*
backend/data/test/*

# Logs
data/logs
*.log

# OS
.DS_Store
Thumbs.db

#Documents
backend/data/documents/